<div class="row">
	<div class="col-md-2">

    </div>
	<div class="col-md-8">
		<div id="jumbo">
			<div class="row">
				<div class="col-md-4" id="slikaIzleta">
					<img src="{{ izlet.picture }}" style="max-height: 100px">	
						
	           	</div>
	            <div class="col-md-6">
	            	<a href="{{ url_for('izlet', name=izlet.name) }}"><h1>{{ izlet.name }}</h1></a>
			        <p>OPIS: {{ izlet.description }}</p><br>
			        <p>LOKACIJA: {{ izlet.location }}</p><br>
	        	</div>
	        	<div class="col-md-2">
	        		<p>CIJENA: {{ izlet.cost }}</p><br>
	        	</div>
	        	<span class="text-center">Kreirao: <a href="{{ url_for('user', username=izlet.author.username) }}">{{ izlet.author.username }}</a></span>
	        	<span class="text-center">Objavljeno: {{ izlet.timestamp }}</span>
	        	<a href="{{ url_for('izlet', name=izlet.name) }}">Opširnije</a>
	        	
	        </div>    	
	    </div>
    </div>
    <div class="col-md-2">

    </div>
</div>