{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ user.avatar(128) }}">
        </div>
        <div class="col-sm-8">
            	<h1>User: {{ user.username }}</h1>
            	{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

                <p><a href="{{ url_for('edit_profile') }}">Uredite svoj profil</a></p>
                <p><a href="{{ url_for('stvori_izlet') }}">Novi izlet</a></p>

        </div>
    </div>
        {% for izlet in izleti %}
            {% include '_izlet.html' %}
        {% endfor %}
    <hr>

{% endblock %}