/*body {
	background-image: url("../static/images/backgroundimg.jpg");
	background-repeat: no-repeat;

}*/

.navbar-default {
	background-color: #fff;
	border-bottom: 3px solid #5d87ce;
	
}

.navbar {
	padding-top: 3px;
	min-height: 63px;
}

.navbar-brand {
	padding:0;
}

#hi {
	float: right;
	padding: 15px;
}

#jumbo {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.6);
	padding:1em;
	box-sizing: border-box;
}